{% comment %} <section class="catering">
	<div class="catering__wrapper">
		<div class="collectionGrid-row">
			<div class="block lg_s12">
				<h2 class="title">{{ section.settings.title }}</h2>
				<div class="desc">{{ section.settings.desc }}</div>
				<p><a href="/pages/book-now" class="button button--normal button--primary">Book Now</a></p>
				<p><a href="tel:+310-853-8995">310-853-8995</a> ext. 1</p>
				<p><a href="mailto:bethd@cool.haus">bethd@cool.haus</a></p>
			</div>
			<div class="block lg_s12">
				{% if section.settings.image %}
          <img src={{ section.settings.image | img_url: '700x' }}>
        {% endif %}
			</div>
		</div>
	</div>
</section> {% endcomment %}

<section class="page-hero">
  <img class="w-100 hide-mobile" src="{{ section.settings.hero-img | img_url: '2000x' }}">
  <img class="w-100 hide-desktop" src="{{ section.settings.hero-img-xs | img_url: '800x' }}">

  <div class="blocker"></div>

  <div class="text-container flex-container">
    <div>
      <h1 class="title">{{ section.settings.title }}</h1>
      {% comment %} <div class="desc">{{ section.settings.desc }}</div> {% endcomment %}
    </div>
  </div>
</section>

<section class="about-text-section text-center">
	<div class="text-container">
		<h2>{{ section.settings.tb-title }}</h2>
		<p>{{ section.settings.tb-desc }}</p>
	</div>
</section>

<section class="image-with-text">
  <div class="wrapper">
    <div class="column">
      <div class="flex-container-left-align">
        <div>
          <h3 class="title">{{ section.settings.title-1 }}</h3>
          <div class="desc">{{ section.settings.desc-1 }}</div>
					{% if section.settings.button-url %}
						<a class="button button--primary" href="{{ section.settings.button-url }}">{{ section.settings.button-text }}</a>
					{% endif %}
        </div>
      </div>
    </div>
    <div class="column">
      <img class="w-100" src="{{ section.settings.img-1 | img_url: '800x' }}">
    </div>
  </div>
</section>

<section class="two-images">
	<div class="wrapper">
    <div class="column">
      <img class="w-100" src="{{ section.settings.img-3 | img_url: '1000x' }}">
    </div>
		<div class="column text-right">
      <img class="w-100" src="{{ section.settings.img-4 | img_url: '1000x' }}">
    </div>
	</div>
</section>

{% schema %}
	{
		"name": "BRANDED ACTIVATIONS",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Title"
			},
			{
				"type": "richtext",
				"id": "desc",
				"label": "Body Content"
			},
      {
				"type": "image_picker",
				"id": "hero-img",
				"label": "Hero Image - Desktop"
			},
      {
				"type": "image_picker",
				"id": "hero-img-xs",
				"label": "Hero Image - Mobile"
			},
			{
        "type": "header",
        "content": "Text Block"
      },
			{
				"type": "textarea",
				"id": "tb-title",
				"label": "Title"
			},
			{
				"type": "textarea",
				"id": "tb-desc",
				"label": "Text"
			},
      {
        "type": "header",
        "content": "Image and Text Block"
      },
      {
				"type": "text",
				"id": "title-1",
				"label": "Title"
			},
			{
				"type": "richtext",
				"id": "desc-1",
				"label": "Body Content"
			},
			{
				"type": "text",
				"id": "button-text",
				"label": "Button Text",
        "default": "Book Now"
			},
      {
				"type": "url",
				"id": "button-url",
				"label": "Button URL"
			},
      {
				"type": "image_picker",
				"id": "img-1",
				"label": "Image"
			},
			{
        "type": "header",
        "content": "2 Images"
      },
			{
				"type": "image_picker",
				"id": "img-3",
				"label": "Image 1"
			},
			{
				"type": "image_picker",
				"id": "img-4",
				"label": "Image 2"
			}
		]
	}
{% endschema %}
