<footer class="site-footer" data-section-type="footer" data-section-id="{{ section.id }}">
	<video class="video" autoplay playsinline muted loop>
		<source src="https://player.vimeo.com/external/543762567.hd.mp4?s=0698f06d2565f70b21fe6f4dc007590305e1cd4e&profile_id=175&download=1" type="video/mp4">
	</video>
	<img class="footer-mask hide-mobile" src="{{ 'footer-mask.png' | asset_img_url: '2000x' }}">
	<img class="footer-bg hide-desktop" src="{{ 'footer-bg-xs.jpg' | asset_img_url: '800x' }}">

	<div class="container">
		{% comment %} Footer top - logo, menus, text, newsletter {% endcomment %}
		<div class="footer-inner">
			<img class="footer-logo" src="{{ 'logo-footer.svg' | asset_url }}">

			{%- if section.blocks.size > 0 -%}
				<div class="footer__blocks footer__blocks--{{ section.blocks.size }}">
					<div class="footer__block footer__block--newsletter">
						<label for="newsletter">LET'S STAY IN TOUCH</label>

						{%- form 'customer', id: form_id -%}
							<div class="js-signUp-form signUp-form">
								<input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter"/>
								<div class="inputGroup mc-field-group">
									<label for="mce-EMAIL" class="accessible-label">{{ 'general.slide_out_navigation.search_label' | t }}</label>
									<input class="signUp-input required email" type="email" value="" name="contact[email]" id="mce-EMAIL" placeholder="Enter email here" required>
									<input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
									<input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
									<button type="submit" class="signUp-submit" name="subscribe" id="mc-embedded-subscribe" aria-label="{{ 'general.accessibility.submit' | t }}">JOIN</button>
								</div>
							</div>
							{%- if form.posted_successfully? -%}
								<div class="signUp-confirmation p">{{ 'general.newsletter_signup.success_message' | t }}</div>
							{%- elsif form.errors -%}
								{{ form.errors | default_errors }}
							{%- endif -%}
						{%- endform -%}

						{%- if show_social_icons -%}
							<div class="hide-mobile">
								<label for="social">FOLLOW US</label>
								{% render 'social-links', class:  %}
							</div>
						{%- endif -%}
					</div>


					{%- for block in section.blocks -%}
						{%- assign mobile_hide_block = block.settings.mobile_hide_block -%}

						{%- case block.type -%}
						{%- when 'logo' -%}
							<div class="footer__block footer__block--logo {% if mobile_hide_block %}med_hide{% endif %}" {{ block.shopify_attributes }}>
								{%- if block.settings.logo -%}
									<a href="{{ routes.root_url }}" class="footer__logo">
										{%- assign image = block.settings.logo -%}
										{%- assign image_widths = '[295,394,590,700,800,1000,1200,1500,1800,2000,2400]' -%}
										{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

										<img
											class="lazyload"
											src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
											data-src="{{ image_url_pattern }}"
											data-widths= "{{ image_widths }}"
											data-aspectratio="{{ image.aspect_ratio }}"
											data-sizes="auto"
											width="{{ block.settings.logo_width }}"
											alt="{{ shop.name }}">
										<noscript>
											<img width="{{ block.settings.logo_width }}" src="{{ block.settings.logo | img_url: '360x' }}" title="{{ shop.name }}">
										</noscript>
									</a>
								{%- else -%}
									<div class="placeholder-wrapper--footer" style="width: {{ block.settings.logo_width | append: 'px' }};">
										<div class="footer__logo--placeholder">
											{{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
										</div>
									</div>
								{%- endif -%}
							</div>

							{%- when 'menu' -%}
								{%- assign menu = block.settings.menu -%}
								{%- assign title = block.settings.title -%}
								<div class="footer__block footer__block--menus {{ title | downcase | replace: ' ','_' }} {% if mobile_hide_block %}med_hide{% endif %}" {{ block.shopify_attributes }}>
									{%- if menu != blank or title != blank -%}
									<div class="footer__block-menu" >
										{%- if title != blank -%}
											<p class="footer__block-title">{{ title }}</p>
										{%- endif -%}

										{%- if menu != blank -%}
											<ul>
												{%- for link in linklists[menu].links -%}
													<li class="footer__block-menu-link">
														<a href="{{ link.url }}">{{ link.title }}</a>
													</li>
												{%- endfor -%}
											</ul>
										{%- endif -%}
									</div>
									{%- endif -%}
								</div>

							{%- when 'text' -%}
								<div class="footer__block footer__block--text {% if mobile_hide_block %}med_hide{% endif %}" {{ block.shopify_attributes }}>
									{%- assign title = block.settings.title -%}
									{%- assign text = block.settings.text -%}
									{%- if text != blank -%}
										{%- if title != blank -%}
											<p class="footer__block-title">{{ title }}</p>
										{%- endif -%}

										{%- if text != blank -%}
											<div class="footer__block-text" >{{ text }}</div>
										{%- endif -%}
									{%- endif -%}
								</div>

							{%- when 'newsletter' -%}
								<div class="footer__block footer__block--newsletter {% if mobile_hide_block %}med_hide{% endif %}" {{ block.shopify_attributes }}>
									{%- assign show_newsletter = true -%}
									{%- assign title = block.settings.title -%}
									{%- assign content = block.settings.content -%}

									{%- if title != blank -%}
										<p class="footer__block-title">{{ title }}</p>
									{%- endif -%}

									{%- if content != blank -%}
										<p class="footer__block-text">{{ content }}</p>
									{%- endif -%}

									{%- render 'newsletter' -%}
								</div>

						{%- endcase -%}
					{%- endfor -%}
				</div>
			{%- endif -%}

			{%- assign show_social_icons = section.settings.show_social_icons -%}
			{%- if show_social_icons -%}
				<div class="hide-desktop">
					{%- render 'social-links' -%}
				</div>
			{%- endif -%}

			<div class="footer__text hide-desktop">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }} | <a href="/pages/privacy-policy">Privacy Policy</a></div>
		</div>
	</div>

	{% comment %} Bottom bar - Payment icons, text, copyright, social icons, menu {% endcomment %}
	{%- assign footer_text = section.settings.text -%}
	{%- assign menu = section.settings.menu -%}

	<div class="footer-bottom hide-mobile">
		<div class="container">
			<div class="row">

				<div class="footer-bottom__right">
					{%- render 'cross-border' -%}

					{%- if show_social_icons or menu -%}

						<a href="/search">Search</a>

						{%- if menu -%}
							{%- if linklists[menu].links != empty -%}
								<div class="footer__menu">
									<ul>
										{%- for link in linklists[menu].links -%}
											<li class="footer-link">
												<a href="{{ link.url }}">{{ link.title }}</a>
											</li>
										{%- endfor -%}
									</ul>
								</div>
							{%- endif -%}
						{%- endif -%}
					{%- endif -%}
				</div>

				<div class="footer-bottom__left">
					{%- if section.settings.show_payment_icons -%}
						<div class="footer__payment">
							{%- render 'payment-icons' -%}
						</div>
					{%- endif -%}

					<div class="footer__text hide-mobile">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }} | <a href="/pages/privacy-policy">Privacy Policy</a></div>

					{% comment %} <div class="footer__copyright">
						<p>{{ 'password.content.powered_by' | t }}<a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a></p>
					</div> {% endcomment %}
				</div>

			</div>
		</div>
	</div>
</footer>

{% schema %}
{
	"name": "Footer",
	"max_blocks": 5,
	"settings": [
		{
			"type": "header",
			"content": "Bottom bar"
		},
		{
			"type": "checkbox",
			"id": "show_payment_icons",
			"label": "Show payment icons",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_social_icons",
			"label": "Show social icons",
			"default": true
		},
		{
			"type": "link_list",
			"id": "menu",
			"label": "Choose Menu",
			"default": "footer",
			"info": "This menu won't show dropdown items"
		},
		{
			"type": "header",
			"content": "language selector",
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)"
		},
		{
			"type": "checkbox",
			"id": "show_locale_selector",
			"label": "Show language selector",
			"default": true
		},
		{
			"type": "header",
			"content": "Currency selector",
			"info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
		},
		{
			"type": "checkbox",
			"id": "show_currency_selector",
			"label": "Show currency selector",
			"default": true
		}
	],
	"blocks": [
		{
			"type": "logo",
			"name": "Logo",
			"limit": 1,
			"settings": [
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Logo"
				},
				{
					"type": "range",
					"id": "logo_width",
					"min": 60,
					"max": 180,
					"step": 10,
					"unit": "px",
					"label": "Logo width",
					"default": 150
				},
				{
					"type": "checkbox",
					"id": "mobile_hide_block",
					"label": "Hide block on mobile",
					"default": false
				}
			]
		},
		{
			"type": "menu",
			"name": "Menu",
			"limit": 5,
			"settings": [
				{
					"type": "link_list",
					"id": "menu",
					"default":"main-menu",
					"label": "Choose Menu",
					"info": "This menu won't show dropdown items"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading"
				},
				{
					"type": "checkbox",
					"id": "mobile_hide_block",
					"label": "Hide block on mobile",
					"default": false
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"limit": 5,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Information"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default":"<p>This text block is a great place to discuss shipping policies, or terms and conditions info.</p>"
				},
				{
					"type": "checkbox",
					"id": "mobile_hide_block",
					"label": "Hide block on mobile",
					"default": false
				}
			]
		},
		{
			"type": "newsletter",
			"name": "Newsletter",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Newsletter"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Text"
				},
				{
					"type": "checkbox",
					"id": "mobile_hide_block",
					"label": "Hide block on mobile",
					"default": false
				}
			]
		}
	]
}
{% endschema %}
