<section class="collection-feature">
  <div class="wrapper">
    <div class="column">
      {% assign collection1 = collections[section.settings.collection-1] %}
      <a href="{{ collection1.url }}">
        <div id="hover-xs-3" class="hover-wrapper">
          <video class="video collection-video collection-video-3" playsinline muted loop data-fallback-image="{{ section.settings.collection-1-fallback-image | img_url: '1000x' }}">
            <source src="{{ section.settings.collection-1-video }}" type="video/mp4">
          </video>
          <div class="content-wrapper flex-container">
            <div>
              <div class="image-wrapper">
                <img class="ico ico-3" src="{{ section.settings.collection-1-icon | img_url: '800x' }}">
                <div class="overlay-wrapper flex-container">
                  <img src="{{ section.settings.collection-1-overlay | img_url: '800x' }}">
                </div>
              </div>
              <h3 class="title">{% if collection1.handle == 'ice-cream-pints' %}SHOP ALL {% endif %}{{ collection1.title | remove: 'Ice Cream ' }}</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column">
      {% assign collection2 = collections[section.settings.collection-2] %}
      <a href="{{ collection2.url }}">
        <div id="hover-xs-4" class="hover-wrapper">
          <video class="video collection-video collection-video-4" playsinline muted loop data-fallback-image="{{ section.settings.collection-2-fallback-image | img_url: '1000x' }}">
            <source src="{{ section.settings.collection-2-video }}" type="video/mp4">
          </video>
          <div class="content-wrapper flex-container">
            <div>
              <div class="image-wrapper">
                <img class="ico ico-4" src="{{ section.settings.collection-2-icon | img_url: '800x' }}">
                <div class="overlay-wrapper flex-container">
                  <img src="{{ section.settings.collection-2-overlay | img_url: '800x' }}">
                </div>
              </div>
              <h3 class="title" href="{{ collection2.url }}">{% if collection2.handle == 'sammies' %}SHOP ALL {% endif %}{{ collection2.title | remove: 'Ice Cream ' }}</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection Feature 2",
    "settings": [
      {
        "type": "collection",
        "id": "collection-1",
        "label": "Collection 1"
      },
      {
        "type": "text",
        "id": "collection-1-video",
        "label": "Collection 1 Video"
      },
      {
        "type": "image_picker",
        "id": "collection-1-fallback-image",
        "label": "Collection 1 Mobile Fallback Image"
      },
      {
        "type": "image_picker",
        "id": "collection-1-icon",
        "label": "Collection 1 Icon"
      },
      {
        "type": "image_picker",
        "id": "collection-1-overlay",
        "label": "Collection 1 Image Overlay"
      },
      {
        "type": "collection",
        "id": "collection-2",
        "label": "Collection 2"
      },
      {
        "type": "text",
        "id": "collection-2-video",
        "label": "Collection 2 Video"
      },
      {
        "type": "image_picker",
        "id": "collection-2-fallback-image",
        "label": "Collection 2 Mobile Fallback Image"
      },
      {
        "type": "image_picker",
        "id": "collection-2-icon",
        "label": "Collection 2 Icon"
      },
      {
        "type": "image_picker",
        "id": "collection-2-overlay",
        "label": "Collection 2 Image Overlay"
      }
    ],
    "presets": [
      {
        "name": "Collection Feature 2",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
