{%- assign enableSection = section.settings.related_products_enable -%}
{%- assign heading = section.settings.product_recommendations_heading -%}
{%- assign enable_color_swatches = settings.enable_color_swatches -%}
{%- assign show_reviews = settings.show_reviews -%}

{% comment %}
  Set collectionBlock size classes
  These are applied in the collectionGrid-block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign collection_block_size = 'lg_s1' | append: columns_size -%}
{%- assign collection_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign collection_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}

<section class="product-slider flickity-section"
	data-columns="{{ products_columns }}"
	data-section-type="related-products"
	data-section-id="{{ section.id }}"
	data-product-id="{{ product.id }}"
	data-limit="5"
	data-show_quantity="{{ settings.show_quantity }}"
	data-show_reviews="{{ show_reviews }}"
	data-yotpo="{{ settings.enable_yotpo }}"
	data-yotpo-id="{{ settings.yotpo_ID }}"
	data-enable-color-swatches="{{ enable_color_swatches }}"
	data-image-aspectratio="{{ settings.image_aspect_ratio }}"
	data-image-size="{{ settings.image_size }}">

	{%- if enableSection -%}
		{%- if recommendations.performed -%}
			{%- if recommendations.products_count > 0 -%}

				{%- if heading != blank -%}
					<div>
						<h2 class="title">{{ heading }}</h2>
					</div>
				{%- endif -%}

				<div class="product-slider related-slider">
					{% for product in recommendations.products %}
						<div class="carousel-cell">
							{% include 'product-card', product %}
						</div>
					{% endfor %}
				</div>

				<script>
					$(document).ready(() => {
						$productCarousel1 = $('.related-slider').flickity({
							cellAlign: 'center',
							contain: true,
							imagesLoaded: true,
							wrapAround: true
						});

						$('.product-hover-js').mouseenter(function() {
							if($(window).width() > 767) {
								$(this).find('video.bg-video, form.productForm').show();
								$(this).find('img.spinner').addClass('rotating');
							}
						})

						$('.product-hover-js').mouseleave(function() {
							if($(window).width() > 767) {
								$(this).find('video.bg-video, form.productForm').hide();
								$(this).find('img.spinner').removeClass('rotating');
							}
						})
					})
				</script>
			{%- endif -%}
		{%- else -%}
			<div class="related__placeholder"></div>
		{%- endif -%}
	{%- endif -%}
</section>

{%- render 'product-quick-view' -%}

{% schema %}
{
	"name": "Product recommendations",
	"settings": [
		{
			"type": "checkbox",
			"id": "related_products_enable",
			"label": "Show related products",
			"info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
			"default": true
		},
		{
			"type": "text",
			"id": "product_recommendations_heading",
			"label": "Heading",
			"default": "Related products"
		}
	]
}
{% endschema %}